.mainfooter {
    display:inline;
    background-color:rgb(24, 15, 15);
    min-height: 100px;
    position: relative;
  }
  .pages{
    color:white;
}
.footer {
  border-bottom: 1px solid #ccc;
  background-color: grey;
  margin-top: 10px;
}
ul > li {
    display:inline;
}
  .footer span {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1px;
  }
  