.mainfooter {
    display:inline;
    min-width: 100%;
    position: -webkit-sticky; /* Safari */
    bottom: 0;
    position: fixed;
    
  }
  .pages{
    color:white;
}
.footer {
  border-bottom: 1px solid #ccc;
  background-color: grey;
  margin-top: 10px;
}
ul > li {
    display:inline;
}
  .footer span {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1px;
  }
  