.pages{
    color:white;
}
.navbar {
    border-bottom: 1px solid #025E73;
    background-color: #024059;
    margin-top: 10px;
    /* position: fixed; */
  }
  .navbar-brand{
      margin-left: 10%;
      text-align:left;
  }
  ul > li {
      display:inline;
  }
  